.form-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.8rem;
    gap: 0.5rem;
}

.input-register {
    text-align: center;
    width: 230px;
    background: rgba(255, 255, 255, 0.22);
    border: 0;
    padding: 0.8rem;
    text-decoration: none;
    border-bottom: rgba(255, 255, 255, 0.24);
    margin: 0;
    border-radius: 0.3rem;
}

.input-register:focus {
    outline: none;
}

input::placeholder {
    color: white;
    font: var(--fontMain);
}

.button-register {
    display: block;
    width: 250px;
    padding: 1rem;
    background-color: aliceblue;
    box-shadow: 0px 15px 25px rgba(173, 0, 0, 0.29);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: black;
    font: var(--fontMain);
    text-decoration: none;
    text-align: center;
}

.condicion {
    font-size: 0.7rem;
    margin-block-start: 1rem;
    color: #FFFFFF;
    margin:0;
}

.email {
    height: 100vh;
}

.newRegister {
    display: flex;
    flex-direction: column;
    margin-block-start: 2.5rem;
}

.loginError {
    font-weight: 600;
}

.separator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hr {
    width: 90px;
    height: 1px;
    margin: 20px;
    background-color: #FFFFFF;
}