.modal-container {
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background: rgb(0,0,0,0.6);
    justify-content: center;
    align-items: center;

}

.modal{
    overflow: hidden;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #F8C7CF;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font: var(--fontMain);
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 90%;
    width: 100%;
}

.modal img {
    width: 20%;
    align-content: center;
}

.btn-modal{
    background: #F63D5D;
    color: #FFFFFF;
    box-shadow: none;
    width: fit-content;
}

.show-modal{
    display: flex;
}
.hidden-scroll{
    overflow: hidden;
    position: fixed;
}