.nav {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: white;
    position: sticky;
    bottom: 0;

}

.show-modal-publication{
    display: flex;
}

.btnNav{ 
    background-color: blueviolet;
    display: flex;
}