.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    z-index: 2;
    width: 100%;
    bottom: 0;

}

.show-modal-publication{
    display: flex;
}

.btn-nav{ 
    width: fit-content;
    box-shadow: none;

}