body {
    margin: 0;
}

.containerIndex {
    
    background-image: linear-gradient(180deg, rgba(39, 15, 19, 0.56) 0%, rgba(56, 22, 28, 0.72079) 81.98%, #54222B 100%),
    url(./img/backgroundInicio.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    height: 100vh;
    color: #FFFFFF;

    text-align: center;
    justify-content: center;
    padding: 50px 0px;
}


/* .containerTransparentIndex {
    background: linear-gradient(180deg, #270F13 49.75%, #54222B 96.96%);
    opacity: 0.64;
    height: 100vh;
} */

/* .content {
    order: 10000;

} */
