@import './css/register.css';
@import './css/home.css';

:root{
    --fontMain: 400 1rem 'Open Sans';
    --h1: 800 3rem 'Alumni Sans';
    --h2: 700 1.5rem 'Inter'; 
}

body {
    margin: 0;
}

.firstView {
    background-image: linear-gradient(180deg, rgba(39, 15, 19, 0.56) 0%, rgba(56, 22, 28, 0.72079) 96%, #54222B 100%),
    url(./img/backgroundInicio.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    height: 100vh;
}

.containerIndex {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    padding-inline: 2rem;
    padding-block-start: 5rem; 
    padding-block-end: 2rem;
}

.buttonIndex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    margin-block: 1rem;

}

button {
    display: flex;
    gap: 1rem;
    font-family: Open Sans ;
    width: 19.68rem;
    height: 3.75rem;
    padding: 18px 18px 18px 64px;
    box-shadow: 0px 15px 25px rgba(173, 0, 0, 0.29);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

button:active{
    transform: scale(.9);
}

h1 {
    font: var(--h1);
    margin: 0;
}

span {
    font: var(--fontMain);
}

a {
    color: #FFFFFF;
}

h2{
    font: var(--h2);
}