@import './css/email-register.css';
@import './css/home.css';
@import './css/modal.css';
@import './css/nav.css';

:root{
    --fontMain: 400 1rem 'Open Sans';
    --h1: 800 3rem 'Alumni Sans';
    --h2: 700 1.5rem 'Inter'; 
    --h3: 800 2.5rem 'Open Sans';
}

body {
    margin: 0;
}

#container {
    height: 100vh;
}

.registers, .login , .loginEmail{
    height: 100%;
}

.first-view {
    background-image: linear-gradient(180deg, rgba(39, 15, 19, 0.56) 0%, rgba(56, 22, 28, 0.72079) 96%, #54222B 100%),
    url(./img/backgroundInicio.webp);
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    background-position-x: center;
    color: #FFFFFF;
    text-align: center;
}

.container-index {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    height: 100%;
}

.form-register {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}


button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font: var(--fontMain);
    width: 16rem; 
    padding: 0.8rem;
    box-shadow: 0px 15px 25px rgba(173, 0, 0, 0.29);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
    color: black;
    text-decoration: none;
}

.button:active{
    transform: scale(.9);
}

h1 {
    font: var(--h1);
    margin: 0;
}

span {
    font: var(--fontMain);
    margin: 0.5rem;
}

a {
    color: #FFFFFF;
    margin: 0.3rem;
}

h2{
    font: var(--h2);
    margin: 0.3rem;
}
